header, nav,footer
{
	height: 120px;
}
article,aside
{
	height: 300px;
	
}
header
{
	background-color: blue;
}
nav
{
	background-color: green;
}aside
{
	background-color: yellow;
}article
{
	background-color: orange;
}footer
{
	background-color: red;
}